*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    textdecoration: none;
    color: #444;
}
ul, ol { list-style:none; } 
html,body,section {
    height: 100%;
    overflow: hidden;
} 